<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @if (!String.IsNullOrEmpty(ViewBag.Title))
        {
            <text>
                版本控制 - @ViewBag.Title
            </text>
        }
        else
        {
            <text>
                版本控制
            </text>
        }
    </title>
    <link href="~/contents/element-ui/index.css" rel="stylesheet" />
    <link href="~/contents/element-ui/display.css" rel="stylesheet" />
    <link href="~/contents/funciton-page-layout.css" rel="stylesheet" />
    <link href="~/contents/funciton-page.css" rel="stylesheet" />
    <link href="~/contents/icon-font/iconfont.css" rel="stylesheet" />
    <link href="~/contents/icon-font/iconfont-import.css" rel="stylesheet" />
    @RenderSection("Contents", false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/scripts/jquery.min.js"></script>
<script src="~/scripts/axios.min.js"></script>
<script src="~/scripts/vue.min.js"></script>
<script src="~/scripts/element-ui/index.js"></script>
<script src="~/scripts/lodash.js"></script>
<script src="~/scripts/models.js"></script>
<script src="~/scripts/utilities.js"></script>
<script src="~/scripts/proxy.js"></script>
<script src="~/scripts/ui-common.js"></script>
<script src="~/scripts/ui-components/qms-base.js"></script>
@RenderSection("Scripts", false)
